<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 footer-info">
<!--          <img src="assets/img/logo.png" alt="Learnix">-->
          <div id="logo">
            <h1>Learnix</h1>
          </div>
          <p>Learnix is a premier eLearning platform offering a wide range of courses and expert instructors. Tailored to your needs, Learnix provides flexible and personalized learning experiences to help you advance your career or learn new skills. Join Learnix today and unlock your potential!</p>
        </div>

<!--        <div class="col-lg-3 col-md-6 footer-links">-->
<!--          <h4>Useful Links</h4>-->
<!--          <ul>-->
<!--            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>-->
<!--            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>-->
<!--            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>-->
<!--            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>-->
<!--            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>-->
<!--          </ul>-->
<!--        </div>-->

        <div class="col-lg-3 col-md-12 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#roadmap">Roadmap</a></li>
            <li><i class="bi bi-chevron-right"></i> <a routerLink="/terms-of-service">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a routerLink="/privacy-policy">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Meta-Sattler-Straße 33<br>
            28217 Bremen<br>
            Germany <br>
            <strong>Phone:</strong> +49 1234 56789<br>
            <strong>Email:</strong> info&#64;learnix.com<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy;2024 Copyright <strong>Learnix</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="">HiTec GmbH</a>
    </div>
  </div>
</footer><!-- End  Footer -->
