<app-header></app-header>
<section id="privacy-policy-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Privacy Policy</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="content-box">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Personal Information We Collect</h3>
              <p class="card-text">We collect personal information using various technologies...</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h3 class="card-title">How Do We Use Your Personal Information?</h3>
              <p class="card-text">We use the collected information for...</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Sharing Your Personal Information</h3>
              <p class="card-text">We may share your personal information with third parties...</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Changes</h3>
              <p class="card-text">We reserve the right to update our Privacy Policy...</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Contact Us</h3>
              <p class="card-text">If you have any questions about our Privacy Policy...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
