 .navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-content {
  z-index: 1055;
}

.modal-dialog {
  z-index: 1055;
}

.dropdown-menu {
  z-index: 1055;
}

