<!-- ======= Schedule Section ======= -->
<section id="roadmap" class="section-with-bg">
  <div class="container">
    <div class="section-header">
      <h2>Development-Roadmap</h2>
      <p>Here is our Development-Roadmap</p>
    </div>

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#released" role="tab" data-bs-toggle="tab">Released</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#upcoming" role="tab" data-bs-toggle="tab">Upcoming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Planned</a>
      </li>
    </ul>

    <h3 class="sub-heading">Plotting Our Progress: Unveiling Learnix's Development Roadmap with Released, Upcoming, and Planned Features.</h3>

    <div class="tab-content row justify-content-center">

      <!-- Released -->
      <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="released">

        <div class="row schedule-item">
          <div class="col-md-2"><time>June 2024</time></div>
          <div class="col-md-10">
            <h4>Lections Overview</h4>
            <p>Get an overview of the platform wide available Lections.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>June 2024</time></div>
          <div class="col-md-10">
            <h4>My Lections</h4>
            <p>Add started lections to 'myLections' and track your progress.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>June 2024</time></div>
          <div class="col-md-10">
            <h4>Lections Editor</h4>
            <p>Create and edit your own lections.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>June 2024</time></div>
          <div class="col-md-10">
            <h4>Workspaces</h4>
<!--            <p>Create private workspaces, join public workspaces or invite others to collaborate in your workspace.</p>-->
            <p>Join public workspaces to collaborate with others</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>June 2024</time></div>
          <div class="col-md-10">
            <h4>Quizzes</h4>
            <p>Develop automated created quizzes based on the lections content. </p>
          </div>
        </div>

        <

<!--        <div class="row schedule-item">-->
<!--          <div class="col-md-2"><time>04:00 PM</time></div>-->
<!--          <div class="col-md-10">-->
<!--            <div class="speaker">-->
<!--              <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">-->
<!--            </div>-->
<!--            <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>-->
<!--            <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>-->
<!--          </div>-->
<!--        </div>-->

      </div>
      <!-- End Released -->

      <!-- Upcoming -->
      <div role="tabpanel" class="col-lg-9  tab-pane fade" id="upcoming">

        <div class="row schedule-item">
          <div class="col-md-2"><time>July 2024</time></div>
          <div class="col-md-10">
            <h4>Dashboard</h4>
            <p>Access your private Dashboard to get an overview of your total progress.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>July 2024</time></div>
          <div class="col-md-10">
            <h4>Earn rewards/badges</h4>
            <p>Complete lections or quizzes, create workspaces or publish new lections to the community to earn rewards or badges.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>July 2024</time></div>
          <div class="col-md-10">
            <h4>Profile page</h4>
            <p>Fill your profile with more informations about you and show your progress badges/rewards. </p>
          </div>
        </div>

      </div>
      <!-- End Upcoming-->

      <!-- Planned Day 3 -->
      <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

        <div class="row schedule-item">
          <div class="col-md-2"><time>Early 2030</time></div>
          <div class="col-md-10">
            <h4>AI Learning</h4>
            <p>Create new Lections, tests and more with ai to increase your learning experience</p>
          </div>
        </div>

      </div>
      <!-- End Planned-->

    </div>

  </div>

</section><!-- End Schedule Section -->
