<!-- ======= Schedule Section ======= -->
<section id="roadmap" class="section-with-bg">
  <div class="container">
    <div class="section-header">
      <h2>Development-Roadmap</h2>
      <p>Here is our Development-Roadmap</p>
    </div>

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#released" role="tab" data-bs-toggle="tab">Released</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#upcoming" role="tab" data-bs-toggle="tab">Upcoming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">Planned</a>
      </li>
    </ul>

    <h3 class="sub-heading">Plotting Our Progress: Unveiling Learnix's Development Roadmap with Released, Upcoming, and Planned Features.</h3>

    <div class="tab-content row justify-content-center">

      <!-- Released -->
      <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="released">

        <div class="row schedule-item">
          <div class="col-md-2"><time>June 2024</time></div>
          <div class="col-md-10">
            <h4>Lections Overview</h4>
            <p>Get an overview of the platform wide available Lections.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>June 2024</time></div>
          <div class="col-md-10">
            <h4>My Lections</h4>
            <p>Add started lections to 'myLections' and track your progress.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>June 2024</time></div>
          <div class="col-md-10">
            <h4>Lections Editor</h4>
            <p>Create and edit your own lections.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>June 2024</time></div>
          <div class="col-md-10">
            <h4>Workspaces</h4>
            <p>Create private workspaces, join public workspaces or invite others to collaborate in your workspace.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>June 2024</time></div>
          <div class="col-md-10">
            <h4>Quizzes</h4>
            <p>Develop automated created quizzes based on the lections content. </p>
          </div>
        </div>

<!--        <div class="row schedule-item">-->
<!--          <div class="col-md-2"><time>04:00 PM</time></div>-->
<!--          <div class="col-md-10">-->
<!--            <div class="speaker">-->
<!--              <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">-->
<!--            </div>-->
<!--            <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>-->
<!--            <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>-->
<!--          </div>-->
<!--        </div>-->

      </div>
      <!-- End Released -->

      <!-- Upcoming -->
      <div role="tabpanel" class="col-lg-9  tab-pane fade" id="upcoming">

        <div class="row schedule-item">
          <div class="col-md-2"><time>July 2024</time></div>
          <div class="col-md-10">
            <h4>Dashboard</h4>
            <p>Access your private Dashboard to get an overview of your total progress.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>July 2024</time></div>
          <div class="col-md-10">
            <h4>Earn rewards/badges</h4>
            <p>Complete lections or quizzes, create workspaces or publish new lections to the community to earn rewards or badges.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>July 2024</time></div>
          <div class="col-md-10">
            <h4>Profile page</h4>
            <p>Fill your profile with more informations about you and show your progress badges/rewards. </p>
          </div>
        </div>

      </div>
      <!-- End Upcoming-->

      <!-- Schdule Day 3 -->
      <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

        <div class="row schedule-item">
          <div class="col-md-2"><time>10:00 AM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="assets/img/speakers/2.jpg" alt="Hubert Hirthe">
            </div>
            <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
            <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>11:00 AM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="../../../../../assets/img/speakers/4.jpg" alt="Cole Emmerich">
            </div>
            <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>
            <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>12:00 AM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="assets/img/speakers/1.jpg" alt="Brenden Legros">
            </div>
            <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>
            <p>Facere provident incidunt quos voluptas.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>02:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="../../../../../assets/img/speakers/3.jpg" alt="Jack Christiansen">
            </div>
            <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>
            <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>03:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="assets/img/speakers/5.jpg" alt="Alejandrin Littel">
            </div>
            <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>
            <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-2"><time>04:00 PM</time></div>
          <div class="col-md-10">
            <div class="speaker">
              <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">
            </div>
            <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
            <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
          </div>
        </div>

      </div>
      <!-- End Schdule Day 2 -->

    </div>

  </div>

</section><!-- End Schedule Section -->
