<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <h1 class="mb-4 pb-0">The ultimate<br><span class="text-lowercase">e</span><span>Learning</span> platform</h1>
    <p class="mb-4 pb-0">Unlock your potential with Learnix. Join expert-created courses to advance your skills.<br>
      Or create your individual workspaces to collaborate with others. Start today!</p>
    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="play-btn mb-4"></a>
    <div>
      <a href="#about" class="about-btn scrollto">About Learnix</a>
      <a href="#about" class="btn scrollto">Join now!</a>
    </div>

  </div>
</section><!-- End Hero Section -->




