<!-- ======= Speakers Section ======= -->
<section id="team">
  <div class="container">
    <div class="section-header">
      <h2>Team</h2>
      <p>Here is the team behind Learnix</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <img src="assets/img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
          <div class="details">
            <h3><a href="team-details.html">Alexander Geisler</a></h3>
            <p>Chief Executive Officer (CEO)</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <img src="assets/img/speakers/2.jpg" alt="Speaker 2" class="img-fluid">
          <div class="details">
            <h3><a href="team-details.html">Oliver Neumann</a></h3>
            <p>Chief Technology Officer (CTO)</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <img src="../../../../../assets/img/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
          <div class="details">
            <h3><a href="team-details.html">Mohammad Haghighi</a></h3>
            <p>Chief Operating Officer (COO)</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <img src="../../../../../assets/img/speakers/4.jpg" alt="Speaker 4" class="img-fluid">
          <div class="details">
            <h3><a href="team-details.html">Nadine Seitz</a></h3>
            <p>Chief Marketing Officer (CMO)</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team">
          <img src="assets/img/speakers/4.jpg" alt="Speaker 5" class="img-fluid">
          <div class="details">
            <h3><a href="team-details.html">Gülshah Senkal</a></h3>
            <p>Chief Communications Officer (CCO)</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="col-lg-4 col-md-6">-->
<!--        <div class="speaker" >-->
<!--          <img src="assets/img/speakers/6.jpg" alt="Speaker 6" class="img-fluid">-->
<!--          <div class="details">-->
<!--            <h3><a href="speaker-details.html">Willow Trantow</a></h3>-->
<!--            <p>Non autem dicta</p>-->
<!--            <div class="social">-->
<!--              <a href=""><i class="bi bi-twitter"></i></a>-->
<!--              <a href=""><i class="bi bi-facebook"></i></a>-->
<!--              <a href=""><i class="bi bi-instagram"></i></a>-->
<!--              <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>

</section><!-- End Speakers Section -->
