<!DOCTYPE html>
<html>
<style>
  table, th, td
  {
    border:1px solid #21386c;
  }

  .button2 {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>

<body>

<h2>Users</h2>
<br>
<table style="width:100%">
  <tr >
    <td ><b style="color:#000104;"> Username </b></td>
    <td><b style="color:#000104;"> E-Mail </b></td>
    <td><b style="color:#000104;"> Actions </b></td>
  </tr>
  <tr *ngFor=" let user of users">
    <td>{{user.username}}</td>
    <td>{{ user.email }}</td>
    <td>
      <i class="bi bi-person-x button" (click)="alert('IMPLEMENT ME!')"></i>
      <i class="bi bi-trash button" (click)="alert('IMPLEMENT ME!')"></i>
      <i class="bi bi-pencil-fill button" (click)="UpdateUser(user.id)"></i>
    </td>
  </tr>
</table>

</body>
</html>




