
  <div class="card mt-3 mb-3">
    <div class="content d-flex flex-column justify-content-between">
      <div class="card-description">
        <h2>{{workspace.title}}</h2>
        <p> Members: {{workspace.memberIds.length}}</p>
        @if (workspace.ownerId == keycloak.getKeycloakInstance().subject) {
          <p>Owner</p>
        }
      </div>
      <div class="card-control">
        @if (member) {
          <a [routerLink]="['/learning/workspaces', workspace.workspaceId]"  class="neon-button">Access</a>
        } @else {
          <a (click)="requestAccess()" class="neon-button">Join</a>
        }
      </div>
    </div>
  </div>

