<!-- ======= About Section ======= -->
<section id="about">
  <div class="container position-relative" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6">
        <h2>About Learnix</h2>
        <p>Learnix is more than an eLearning platform; it's a thriving community-driven hub for learners worldwide.
          Dive into expert-led lections, interactive tests, and quizzes.
          Collaborate in workspaces, where knowledge sharing is encouraged.
          Plus, create your own content to contribute to our dynamic learning environment.
          Join Learnix today and be part of a community that fuels learning and growth.</p>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-4 features">
        <h2>Features</h2>
        <ul class="list-unstyled">
          <li>Community - driven</li>
          <li>Dashboard [Upcoming]</li>
          <li>Personal statistics [Upcoming]</li>
          <li>Join or create workspaces</li>
          <li>Create Lections, Tests and Quizzes</li>
        </ul>
      </div>
    </div>
  </div>
</section><!-- End About Section -->
