
.home-section {
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.home-section.sidebar-closed {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-menu {
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
}

.home-section .home-menu .bx-menu,
.home-section .home-menu .text {
  color: var(--main-sidebar-background-color);
  font-size: 35px;
}

.home-section .home-menu .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-menu .text {
  font-size: 26px;
  font-weight: 600;
}
